In [1]:
# import dependencies
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# store the csv created in part one of the DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vysha,RU,2022-06-28 00:32:17,53.8477,42.3777,61.68,96,0,4.43
1,1,Suntar,RU,2022-06-28 00:32:18,62.1444,117.6319,59.79,75,100,3.15
2,2,Alta Floresta,BR,2022-06-28 00:32:18,-9.8756,-56.0861,70.02,42,1,3.09
3,3,Puerto Ayora,EC,2022-06-28 00:31:17,-0.7393,-90.3518,68.56,97,77,8.01
4,4,Ketchikan,US,2022-06-28 00:32:19,55.3422,-131.6461,75.67,43,0,10.36

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# as the customer to enter a minimum and maximum temp value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [11]:
# filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Ketchikan,US,2022-06-28 00:32:19,55.3422,-131.6461,75.67,43,0,10.36
5,5,Denpasar,ID,2022-06-28 00:31:14,-8.6500,115.2167,80.26,74,20,14.97
7,7,Bitung,ID,2022-06-28 00:32:19,1.4451,125.1824,79.65,74,100,3.24
10,10,Butaritari,KI,2022-06-28 00:32:20,3.0707,172.7902,81.68,79,55,11.77
13,13,Padang,ID,2022-06-28 00:32:21,-0.9492,100.3543,75.25,86,100,2.77
19,19,Kapaa,US,2022-06-28 00:32:23,22.0752,-159.3190,84.52,69,20,16.11
23,23,Pemangkat,ID,2022-06-28 00:32:25,1.1667,108.9667,81.54,82,27,3.69
27,27,Eyl,SO,2022-06-28 00:32:26,7.9803,49.8164,79.34,58,54,30.27
29,29,Meulaboh,ID,2022-06-28 00:32:27,4.1363,96.1285,75.90,90,100,4.34
34,34,Sorong,ID,2022-06-28 00:32:29,-0.8833,131.2500,81.39,76,85,4.29

In [12]:
preferred_cities_df.count()

City_ID       188
City          188
Country       188
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [13]:
# create dataframe called hotel_df to store hotel name along with city, country, max tmep and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
4    Ketchikan      US     75.67  55.3422 -131.6461
5     Denpasar      ID     80.26  -8.6500  115.2167
7       Bitung      ID     79.65   1.4451  125.1824
10  Butaritari      KI     81.68   3.0707  172.7902
13      Padang      ID     75.25  -0.9492  100.3543
19       Kapaa      US     84.52  22.0752 -159.3190
23   Pemangkat      ID     81.54   1.1667  108.9667
27         Eyl      SO     79.34   7.9803   49.8164
29    Meulaboh      ID     75.90   4.1363   96.1285
34      Sorong      ID     81.39  -0.8833  131.2500

In [14]:
# import api key
from config import g_key

# set parameters to search for hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# iterate through the df
for index, row in hotel_df.iterrows():
    # get the lat and lng
    lat = row["Lat"]
    lng = row["Lng"]

    # add lat and lng to location key for the params dictionary
    params["location"] = f"{lat},{lng}"

    # use the search term: "lodging" and our lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make request and get the JSON data from search
    hotels = requests.get(base_url, params=params).json()
    # grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Ketchikan,US,75.67,55.3422,-131.6461,Snow's Cove Lodge
5,Denpasar,ID,80.26,-8.6500,115.2167,OYO 3156 Hotel Warta 2
7,Bitung,ID,79.65,1.4451,125.1824,K2 Lembeh
10,Butaritari,KI,81.68,3.0707,172.7902,Isles Sunset Lodge
13,Padang,ID,75.25,-0.9492,100.3543,Mercure Padang
19,Kapaa,US,84.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
23,Pemangkat,ID,81.54,1.1667,108.9667,Ramah Kost KITA
27,Eyl,SO,79.34,7.9803,49.8164,Amiin Hotel
29,Meulaboh,ID,75.90,4.1363,96.1285,Kost Pria
34,Sorong,ID,81.39,-0.8833,131.2500,Waigo Splash Hotel

In [17]:
# add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# add a heatmap of temperature for the vacation spots and marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# store the DataFrame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# add a heatmap of temperature for the vacation spots and a pop-up marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))