## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ancud,CL,-41.8697,-73.8203,42.22,72,100,12.84,overcast clouds
1,1,Albany,US,42.6001,-73.9662,79.21,73,96,5.75,moderate rain
2,2,Shirokiy,RU,49.7580,129.5230,73.15,84,95,6.80,overcast clouds
3,3,Ilulissat,GL,69.2167,-51.1000,44.62,81,40,9.22,scattered clouds
4,4,Nikolskoye,RU,59.7035,30.7861,66.09,64,26,4.54,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Albany,US,42.6001,-73.9662,79.21,73,96,5.75,moderate rain
2,2,Shirokiy,RU,49.7580,129.5230,73.15,84,95,6.80,overcast clouds
7,7,Atuona,PF,-9.8000,-139.0333,77.50,76,2,8.72,clear sky
9,9,Bathsheba,BB,13.2167,-59.5167,83.01,93,40,19.57,scattered clouds
11,11,Bani,DO,18.2833,-70.3333,79.86,78,99,12.80,overcast clouds
13,13,Kavieng,PG,-2.5744,150.7967,85.39,69,7,16.04,clear sky
17,17,Butaritari,KI,3.0707,172.7902,83.01,76,30,18.10,scattered clouds
18,18,Rikitea,PF,-23.1203,-134.9692,71.96,76,100,14.32,light rain
20,20,Port Blair,IN,11.6667,92.7500,86.04,79,40,9.22,scattered clouds
26,26,Port Alfred,ZA,-33.5906,26.8910,72.18,40,0,8.01,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                326
City                   326
Country                326
Lat                    326
Lng                    326
Max Temp               326
Humidity               326
Cloudiness             326
Wind Speed             326
Current Description    326
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Albany,US,79.21,moderate rain,42.6001,-73.9662,
2,Shirokiy,RU,73.15,overcast clouds,49.7580,129.5230,
7,Atuona,PF,77.50,clear sky,-9.8000,-139.0333,
9,Bathsheba,BB,83.01,scattered clouds,13.2167,-59.5167,
11,Bani,DO,79.86,overcast clouds,18.2833,-70.3333,
13,Kavieng,PG,85.39,clear sky,-2.5744,150.7967,
17,Butaritari,KI,83.01,scattered clouds,3.0707,172.7902,
18,Rikitea,PF,71.96,light rain,-23.1203,-134.9692,
20,Port Blair,IN,86.04,scattered clouds,11.6667,92.7500,
26,Port Alfred,ZA,72.18,clear sky,-33.5906,26.8910,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... Skipping.")

Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.

In [26]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset=["Hotel Name"])

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
current_weather = hotel_df["Current Description"]
fig = gmaps.figure(center=(27.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))